.Login main{
    background: var(--degrade-background);
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Login main .container{
    display: flex;
    flex-flow: row;
    gap: 10rem;
    align-items: center;
}
.Login main form{
    display: flex;
    flex-flow: column;
    max-width: 380px;
    gap: .75rem;
}

.field{
    max-width: 480px;
}
.field.is-full{
    max-width: 100%;
}
.field.input > label{
    font-size: 13px;
    font-weight: bold;
    padding-bottom: .5rem;
    display: block;
}
.field.input > input{
    background-color: transparent;
    border: solid 1px var(--gray-color-lighter-01);
    border-radius: 3px;
    box-sizing: border-box;
    padding: .75rem 1rem;
    font-size: 16px;
    width: 100%;
    color: var(--light-color);
    outline: none;
}
.field.input > input::placeholder{
    color: var(--light-color);
    opacity: 0.5;
}
.field.input > input:focus{
    border-color: var(--light-color);
}
