.NotFound main{
    background: var(--degrade-background);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    min-height: 100vh;
    color: var(--light-color);
}
.NotFound main > figure img{
    height: 10rem;
}
.NotFound main > .message{
    display: flex;
    flex-flow: column;
    gap: .5rem;
}
.NotFound main > .message .button{
    margin-top: 1rem;
}