.todolist{
    text-align: left;
    border: solid 1px #ddd;
    border-radius: 10px;
    padding: 2rem;
    margin: 1rem;
    max-width: 400px;
    width: 100%;
    min-width: fit-content;
}
.todolist .todo-title{
    margin: 0;
    font-size: 1.25rem;
}
.todolist .todos{
    margin: 1rem 0 0;
    margin-left: 1rem;
    padding: 0;
    list-style-position: outside;
    display: flex;
    flex-flow: column;
    gap: .25rem;
}
.todolist .todos .todoitem{
    opacity: .85;
}
.todolist .todos .todoitem:hover{
    opacity: 1;
}
.todolist .todos .todoitem label{
    display: block;
    background-color: #f5f5f5;
    padding: .35rem .5rem;
    border-radius: 5px;
}
.todolist .todos .todoitem label input{
    margin-right: .5rem;
}
.todolist .tarefa-form{
    display: flex;
    gap: .5rem;
    margin-top: 1.5rem;
}
.todolist .tarefa-form input{
    border: solid 1px #ccc;
    padding: .5rem;
    border-radius: 5px;
    flex-grow: 1;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}
.todolist .tarefa-form button{
    border: none;
    background-color: #0ecf6e;
    border-radius: 5px;
    padding: .5rem 1rem;
    font-weight: bold;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}