.Navigation{
    color: var(--light-color);
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 50;
}
.Navigation .item.brand{
    flex-grow: 1;
}
.Navigation .item.brand a{
    display: inline-block;
    padding: 1rem;
}
.Navigation .item.brand a img{
    height: 2rem;
}
.Navigation .items.right{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0 1rem;
}
.Navigation .items.right .profile-button{
    display: block;
    padding: .5rem;
    background-color: var(--primary-color);
    color: var(--light-color);
    line-height: 0;
    border-radius: 100%;
}